# Ignore node_modules, build, cache, history
/node_modules
/dist
.parcel-cache
.history

# Ignore Python cache
__pycache__/
*.py[cod]

# In src/Backend: Ignore all .py files except app.py and *_api.py
/src/Backend/*.py
!/src/Backend/app.py
!/src/Backend/*_api.py